.header img {
    height: 160px;
    margin-top: 10px;
    margin-bottom: 6px;
    border: 0 !important;
    outline: 0 !important;
    border-radius: 5px;
}

.header {
    text-align: center;
}

.header nav {
    background-color: black;
    line-height: 40px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
}

nav a:hover {
    background-color: gray;
}